{% extends "gamesrec/base.html" %}
{% load static %}
{% load custom_tags %}

<html>

{% block title %}
{{title}}
{% endblock %}


{% block css %}
<style>
</style>
{% endblock %}

{% block script %}

<script>
$(document).ready(function() {
  $('#page-selection').twbsPagination({
      totalPages: {{total_pages}},
      startPage: {{page}},
      pageVariable: 'page',
      visiblePages: 5,
      prev: '<i class="fas fa-angle-left"></i>',
      next: '<i class="fas fa-angle-right"></i>',
      first: '<i class="fas fa-angle-double-left"></i>',
      last: '<i class="fas fa-angle-double-right"></i>',
      href: true,
      hideOnlyOnePage:true
  })
  rec_like()

  update_recsu_manage_list(`{% ids_recsu_all gs=recsu %}`)

  init_recsu_manage_list(`{% ids_recsu_all gs=recsu %}`)
})
</script>

{% endblock %}

{% block content %}

<div class="content pb-5 rounded">

<div class="box"  style="min-height:50vh;">
  <div class="box-header">
    <h2 class="header m-b-0 font-weight-bold p-3 p_rec_header">Recommendations</h2>
  </div>

  <div>
    {% for rec in recsu %}
    <div id="rec-{{rec.pk}}" class="box-body mb-4">
      <div class="row">
        <div class="col-6">
          <div class="row mdl-18894">
            <div class="col-xs-12 col-sm-4 col-lg-4">
              <img src="{{rec.game.cover}}" id="recs_cover_{{rec.game.pk}}" class="img-responsive">
            </div>
            <div class="col-sm-8">
              <div>If you liked</div>
              <div class="rec-title"><b><a class="text-primary" href="{{rec.game.url}}"  id="recs_title_{{rec.game.pk}}">{{rec.game.title}}</a></b></div>
              <div>
                <a class="btn btn-xs btn-white recs_manage_list" data-id="{{rec.game.pk}}" data-gid="{{rec.game.pk}}" id="recs_manage_list-{{rec.game.pk}}"><span><i class="fas fa-plus"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row mdl-17213">
            <div class="col-xs-12 col-sm-4 col-lg-4">
              <img src="{{rec.similar_game.cover}}" id="recs_cover_{{rec.similar_game.pk}}" class="img-responsive">
            </div>
            <div class="col-sm-8">
              <div>...then you might like</div>
              <div class="rec-title"><b><a class="text-primary" href="{{rec.similar_game.url}}" id="recs_title_{{rec.similar_game.pk}}">{{rec.similar_game.title}}</a></b></div>
              <div>
                <a class="btn btn-xs btn-white recs_manage_list" data-id="{{rec.similar_game.pk}}" data-gid="{{rec.similar_game.pk}}" id="recs_manage_list-{{rec.similar_game.pk}}"><span><i class="fas fa-plus"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="recs-body m-t">
            <div>
              {% autoescape off %}
              {{rec.rec_text}}
              {% endautoescape %}
            </div>
            <div class="recs-by">
              <span class="jbtn-like" data-id="{{rec.pk}}" data-type="rec"><span class="like-cnt">{{rec.likes.count}}</span></span>
              <span>Recommended by <a class="text-primary" href="{{rec.user.profile.url}}">{{rec.user.username}}</a></span>
              <span class="text-muted">- {{rec.timestamp.timestamp|shortMonthDateFormat_epoch}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

  <div class="box-footer">
    <nav>
      <ul id="page-selection" class="pagination pg-blue"></ul>
    </nav>
  </div>
</div>

{% endblock %}

</html>
