{% extends "gamesrec/base.html" %}
{% load crispy_forms_tags %}
<html>

{% block title %}
  Password Reset
{% endblock %}

{% block head_script %}

<script>
</script>

{% endblock %}

{% block content %}

<div class="content mb-4" style="min-height:30vh;">
  <form method="POST" class="">{% csrf_token %}
    <div class="p-3">
      <div class="text-uppercase mb-5">
        <h4>Change your password</h4>
      </div>
      <div>
          <div class="form-content">
            <div class="row">
              <div class="col-12">
                {{form | crispy}}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary"><span>Submit</span></button>
    </div>
  </form>
</div>


{% endblock %}

</html>
