{% extends "gamesrec/base.html" %}
{% load crispy_forms_tags %}
<html>

{% block title %}
  Password Reset
{% endblock %}

{% block head_script %}

<script>
$(document).ready(function() {
  $('#id_email').attr('placeholder','Your E-mail')
  $('label[for=id_email]').remove();
});
</script>

{% endblock %}

{% block content %}

<div class="content mb-4" style="min-height:30vh;">
  {% if validlink %}
  <form method="POST" class="">{% csrf_token %}
    <div class="p-3">
      <div class="text-uppercase mb-5">
        <h4>Reset your password</h4>
      </div>
      <div>
          <div class="form-content">
            <div class="row">
              <div class="col-12">
                {{form | crispy}}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary"><span>Reset Password</span></button>
    </div>
  </form>
  {% else %}
  <div class="p-3">
    <div class="text-uppercase mb-5">
      <h4>Reset your password</h4>
    </div>
    <div>
      <div class="col-12">
        <div class="box p-3 bg-danger text-white"><span><i class="fas fa-lg fa-exclamation-triangle"></i></span><span class="ml-3">Invalid token</span></div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

</html>
