{% extends "gamesrec/base.html" %}
{% load crispy_forms_tags %}
<html>

{% block title %}
  Password Reset
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="content mb-4" style="min-height:30vh;">
  <div class="p-3">
    <div class="text-uppercase mb-5">
      <h4>Password reset sent</h4>
    </div>
    <div>
      <div class="col-12">
        <div class="">
          We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
          <br />
          If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

</html>
