{% comment %} Footer {% endcomment %}
<footer class="page-footer font-small unique-color-dark darken-3" style="box-sizing: border-box;bottom: 0;width: 100%;height: auto;">

  {% comment %} Footer Elements {% endcomment %}
  <div class="container">

    {% comment %} Grid row{% endcomment %}
    <div class="row">
      {% comment %} Grid column {% endcomment %}
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <div class="text-sm-center text-xs-left m-y">
            <div class="nav text-sm">
              <a class="nav-link m-r" rel="external nofollow"><span>FAQ</span></a>
              <a class="nav-link m-r" rel="external nofollow"><span>About</span></a>
              <a class="nav-link m-r" rel="external nofollow"><span>Contact</span></a>
              <a class="nav-link m-r" rel="external nofollow"><span>Terms</span></a>
              <a class="nav-link m-r" rel="external nofollow"><span>Privacy</span></a>
              <a class="nav-link m-r" rel="external nofollow"><span>Support MyGamesList</span></a>
            </div>
          </div>
          {% comment %} Facebook {% endcomment %}
          <a class="fb-ic ml-5">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-md"> </i>
          </a>
          {% comment %} Twitter {% endcomment %}
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-md"> </i>
          </a>
          {% comment %}Instagram{% endcomment %}
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-md"> </i>
          </a>
        </div>
      </div>
      {% comment %} Grid column {% endcomment %}

    </div>
    {% comment %} Grid row{% endcomment %}

  </div>
  {% comment %} Footer Elements {% endcomment %}

  {% comment %} Copyright {% endcomment %}
  <div class="footer-copyright text-center py-3">© 2019 Copyright. All rights reserved
  </div>
  {% comment %} Copyright {% endcomment %}

</footer>
{% comment %} Footer {% endcomment %}
